doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
    link(rel="stylesheet" href="style.css")
    style(type="text/tailwindcss")
      | @theme {
      |   --color-johan: #da373d;
      |   --color-brand: #F2B3E8;
      |   --color-brand-500: #8C3A87;
      | }

  body.bg-johan
    h1.text-brand Nu snackar vi synt!
    p(class="bg-accent") Du kan även lägga klasser som attribut 
    
    div.border-avocado-300.rounded-2xl
      p.bg-avocado-100.test Med text
